name: Update theme

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
    branches:
      - main
      - sandbox

jobs:
  update_theme:
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14.x

      - name: Install dependencies
        run: npm ci --prefix ./.github/workflows/scripts/

      - name: Zip theme files
        run: |
          zip -r theme.zip . -x ".*"
          mv theme.zip ./.github/workflows/scripts/

      - name: Run updateTheme.js
        run: node ./.github/workflows/scripts/updateTheme.js
        env:
          ZENDESK_SUBDOMAIN: ${{ (github.ref_name == 'sandbox' || github.base_ref == 'sandbox') && secrets.SANDBOX_DOMAIN || secrets.ZENDESK_SUBDOMAIN }}
          ZENDESK_EMAIL: ${{ secrets.ZENDESK_EMAIL }}
          ZENDESK_TOKEN: ${{ (github.ref_name == 'sandbox' || github.base_ref == 'sandbox') && secrets.SANDBOX_TOKEN || secrets.ZENDESK_TOKEN }}
          THEME_ID: ${{ (github.ref_name == 'sandbox' || github.base_ref == 'sandbox') && secrets.SANDBOX_THEME_ID || secrets.THEME_ID }}

      - name: Upload theme file
        uses: actions/upload-artifact@v4
        with:
          name: theme-file
          path: ./.github/workflows/scripts/theme.zip